DATABASE_HOST=localhost
DATABASE_NAME=mcm
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=mcm@123

REDIS_ADDR=localhost
REDIS_PASSWORD=
REDIS_DB=0
REDIS_QUEUE_NAME=mcm_job_queue

WEB_APP_URL=
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=

SES_SENDER_EMAIL=noreply@example.com